<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Login</title>
</head>
<body>
<form th:action="@{/signin}" method="POST">
 <label>Login :</label>
  <div>
  <label>Username :</label>
  <input type="text" name="username"/>
  </div>
  <div>
  <label>password :</label>
  <input type="password" name="password"/>
  </div>
  <input type="submit" value="Login"/>

</form>


</body>
</html> -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Mot de passe oublié</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext" rel="stylesheet" />

<style type="text/css">


.carddemoBasicUsage .card-media {
  background-color: #999999; }
  .mycard{
	display: inline-block;
    zoom: 1;
    display*: inline; /* ie hack */
    width: 50%;
}
.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}
</style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<script type="text/javascript" src="https://rawgit.com/nasrij/dae6b9f9175094ada485205199e67992/raw/d33270b393e521029a58c09711aa517a8d759173/password.js"></script>
</head>

<body class="light-blue" ng-app="password" ng-controller="passwordController">

  <!-- <div class="materialContainer">


   <div class="box">

      <div class="title">MOT DE PASSE</div>
<form name="form" ng-submit="sendMail($event)" novalidate>
<md-content class="md-no-momentum">
 <md-input-container md-no-float class=" md-block"> Use floating label instead of placeholder
				<label>Nom d'utilisateur</label>
			 	<md-icon md-svg-src="/css/ic_perm_identity_black_24px.svg" class="n3" ></md-icon> 
			 	<input ng-model="user.username" name="username" type="text" ng-required="true"> 
			 </md-input-container> 	
			  <md-input-container class="md-block"> Use floating placeholder instead of label
				<md-icon md-svg-src="/css/ic_mail_outline_black_24px.svg" class="email"></md-icon>
				<input ng-model="user.email" type="email" name="email" placeholder="Email" ng-required="true">
			 </md-input-container> 
</md-content>
       <div class="input">
        <label for="name">Username</label>
         <input type="text" name="username" ng-model="username" id="name" ng-required>
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="pass">Email</label>
         <input type="email" name="email" ng-model="email" id="pass" ng-required>
         <span class="spin"></span>
      </div>
      
      <div class="button login">
         <button type="submit"><span>Submit</span> <i class="fa fa-check"></i></button>
      </div>
</form>

   </div>
</div> -->
<div  layout="column" layout-align="center center" layout-fill="layout-fill">
  <div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Mot de passe oublié</span></h2>
    </md-toolbar>
    <div class="alert alert-danger" style="margin: 5px;" ng-show="erreur">
 		 <strong>Erreur!  </strong>Verifier Vos coordonnées
	</div>
	
    <form name="form" ng-submit="sendMail()" novalidate>
    <md-content layout="column" class="md-padding">
    	<center>
	<md-progress-circular ng-show="showSpinner" md-diameter="96"></md-progress-circular>
	</center>
      <md-input-container>
        <label>Nom d'utilisateur</label>
        <input type="text" ng-model="username" name="username" ng-required="true"/>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="email" ng-model="email" name="email"  ng-required="true" />
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px;">
        <md-button class="md-raised md-primary" type="submit"  >Submit</md-button>
    </md-content>
    </form>
  </div>
</div>

</body>

</html>